<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenue dans dakarparty.com, <%= @user.nom %></h1>
    <p>
      Votre inscription est réussie,
      Merci devotre confiance.<br/>
    </p>
    <p>
      our vous connectez suiver ce lien: <%= @url %>.
    </p>
    <p>TMerci beaucoup et bonne journée!</p>
  </body>
</html>