<!-- .row slider  -->
<div class="row"  style="margin-top: 60px">
  <div class="col-sm-9" >
    <div class="col-sm-12">
      <!-- Image Slider -->
      <div class="widget-container widget-gallery boxed">
        <div class="inner">
          <div id="myCarousel3" class="carousel slide" data-interval="5000">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <a href="images/temp/post-img-1.jpg" data-rel="prettyPhoto" title="Disney’s Brave"><%= image_tag("sl1.jpg")%></a>
                <div class="carousel-desc gradient"><strong>Brave</strong><span>&laquo;Change your fate.&raquo;</span></div>
              </div>
              <div class="item">
                <a href="images/temp/post-img-2.jpg" data-rel="prettyPhoto" title="Ice Age"><%= image_tag("sl2.jpg")%></a>
                <div class="carousel-desc gradient"><strong>Ice Age</strong><span>&laquo;Change your fate.&raquo;</span></div>
              </div>
              <div class="item">
                <a href="images/temp/post-img-3.jpg" data-rel="prettyPhoto" title="Horton"><%= image_tag("sl2.jpg")%></a>
                <div class="carousel-desc gradient"><strong>Horton</strong><span>&laquo;Change your fate.&raquo;</span></div>
              </div>
            </div>
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel3" data-slide-to="1"></li>
              <li data-target="#myCarousel3" data-slide-to="2"></li>
            </ol>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel3" data-slide="prev"></a>
            <a class="carousel-control right" href="#myCarousel3" data-slide="next"></a>
          </div>
        </div>
      </div>
      <!--/ Image Slider -->
    </div>
  </div>
  <div class="col-sm-3" >
    <div class="widget-container boxed border-top pink" style="height: 300px" >
      <div class="inner">
        <div class="ribbon">
          <div class="ribbon-stitches-top"></div>
          <span>Big Event</span>
        </div>


        <!-- place your content here -->
        <div class="inner clearfix">

          <div class="avatar">
            <%= image_tag("nix.jpg")%>
          </div>
          <h5> Concert de Nix</h5>
          <span class="subtitle">Au Just 4U</span>
          <br/>
          <div class="follow">
            <a href="#" class="btn btn-round"><span>voir</span></a>

          </div>
        </div>
      </div>
    </div>

  </div>



</div>
<!--/ .row slider -->