<%= render :partial => 'home/slider' %>

<div class="row">
  <!-- / Content -->
  <%= render :partial => 'home/myContent' %>

  <!-- / .Content -->

  <!-- / nav event -->
  <%= render :partial => 'home/nav_actu' %>
  <!-- / .nav event -->


</div>
